@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* font-family: 'Inter', sans-serif; */
:root {
    --yellow: #FFB400;
    --yellow2: rgba(255, 180, 0, 0.95);
    --darkBackground: #18191A;
    --whiteBackground: #F0F0F6;
    --darkView1: #242526;
    --darkView2: #3A3B3C;
    --paragraphFont: #767676;
    --white: #FFFFFF;
    --heading1: 48px;
    --heading2: 32px;
    --heading3: 24px;
    --heading4: 18px;
    --fontFamily: 'Inter', sans-serif;
    --paragraphFont: #767676;
}
* {
    text-decoration: none !important;
    list-style-type: none !important;
}
body {
    font-family: var(--fontFamily);
    background-color: var(--whiteBackground) !important;
}
header {
    background-color: var(--white);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.nav {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.menu-el-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 80px;
    width: 120px;
}
.nav-notification {
    display: none;
    color: var(--white);
    border-radius: 2px;
    padding: 7px 15px;
    background-color: #2b2b2b;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--whiteBackground);
    border-radius: 50%;
    margin-top: 5px;
}
.nav-img {
    width: 18px;
}
.nav-item:hover {
    background-color: var(--yellow);
}
header > nav > ul > li:hover .nav-notification {
    display: block;
}